.investment-preferences {
  height: 75%;
  padding: 3rem 15rem 3rem 8rem;
  color: black;
  & h4 {
    margin: 2rem 0;
  }
}
.choice__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.card {
  position: relative;
  & label {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
    display: block;
    color: black;
    padding-top: 8rem;
    font-size: 1rem;
    z-index: 0;
  }
  & input[type='checkbox'] {
    z-index: 1;
    position: absolute;
    left: 1rem;
    top: 1rem;
    &:checked + label {
      background-color: #dce8ff;
      color: #35a0ee;
      border: 1px solid #35a0ee;
      display: block;
    }
  }
}
