:root {
  --main-color: #35a0ee;
  --main-bg-color: white;
  --main-font-color: #ccc;
}

.App {
  border-radius: 8px;
  max-width: 144rem;
  margin: auto;
  background-color: var(--main-bg-color);
  display: flex;
  box-shadow: 0px 0px 56px rgba(0, 133, 255, 0.05);
  font-size: 1.5rem;
}
h2,
h3 {
  color: black;
  margin-bottom: 1.5rem;
}
label {
  font-size: 1rem;
  &:focus {
    color: var(--main-color);
  }
}
.hidden {
  display: none;
}

// LEFT BLOCK //////////////////////////

.left-block {
  width: 33.33%;
  background-color: var(--main-color);
  border-radius: 8px 0 0 8px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    color: rgba(255, 255, 255, 0.5);
    &__dark {
      color: #dce8ff;
    }
  }
  .progress {
    padding: 0 2rem;
    color: #dce8ff;
    display: flex;
    flex-direction: column;
    &__item {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0 0 0;
      position: relative;
      &.active {
        color: var(--main-bg-color);
        font-weight: 800;
      }
      &__pagename {
        position: absolute;
        left: 4rem;
        top: 0.5rem;
      }
      &__square {
        border: 2.5px solid #dce8ff;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2px;
        margin: 0 0.5rem;
        padding: 0.5rem;
        &.active {
          border: 3px solid var(--main-bg-color);
        }
      }
      &__dash {
        border-left: 2.5px solid #dce8ff;
        padding: 0.5rem 2.5rem;
        margin: 0.5rem 0 0 1.6rem;
        &.active {
          border-left: 3px solid var(--main-bg-color);
          padding: 0.5rem 2.5rem;
          margin: 0.5rem 0 0 1.6rem;
        }
      }

      &__dot {
        display: none;
        height: 0.9rem;
        background-color: var(--main-bg-color);
        border-radius: 2px;
        &.active {
          display: block;
        }
      }
    }
  }

  .quote {
    background-color: var(--main-bg-color);
    padding: 2rem 2rem;
    color: var(--main-font-color);
    max-height: 18rem;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
      font-style: italic;
      margin-bottom: 2rem;
    }

    &__sign {
      font-family: 'Times New Roman', Times, serif, 'Lucida Sans', Arial,
        sans-serif;
      position: absolute;
      top: -2.5rem;
      left: -1.5rem;
      font-size: 5rem;
      background-color: var(--main-bg-color);
      color: var(--main-color);
      padding: 0 1rem;
      border-radius: 3px;
      height: 4rem;
      box-shadow: 16px 12px 56px rgba(11, 29, 46, 0.15);
    }
    &__author__name {
      font-weight: bold;
      color: black;
    }
    &__author__role {
      text-transform: uppercase;
      font-size: 0.8rem;
    }
    &__logo {
      &--blue {
        color: blue;
      }
      color: black;
      font-weight: bold;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  &:focus {
    color: var(--main-color);
  }
  &:focus-within {
    color: var(--main-color);
  }
}
.form-control {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  &__phone {
    flex-direction: row;
    align-items: end;
    width: 50%;
    & select {
      display: flex;
      width: 25%;
    }
    & label {
      width: 72%;
    }
  }
  &__fullname {
    margin-right: 2rem;
    width: 50%;
    & label {
      width: 100%;
    }
    & input {
      text-transform: capitalize;
    }
  }
  & input {
    border: none;
    border-bottom: 2px solid var(--main-font-color);
    padding: 0.5rem 0;
    &:focus {
      outline: none;
      border-bottom: 2px solid var(--main-color);
      font-weight: 600;
    }
  }
  & select {
    display: inline;
    border: none;
    border-bottom: 2px solid var(--main-font-color);
    margin: 1rem 0 0 0;
  }
  &.invalid input {
    border: none;
    border-bottom: 2px solid #f6aaa1;
    color: #f6aaa1;
    padding: 0.5rem 0;
  }
  &.invalid label {
    color: #f6aaa1;
  }
  &.invalid select {
    color: #f6aaa1;
    border-bottom: 2px solid #f6aaa1;
  }
}
#invalid__message {
  color: salmon;
}

// PAGE CONTENT //////////////////////////

.page-content {
  width: 69.99%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #a4aeb4;
  font-size: 1.2rem;
}
.page-header {
  width: 100%;
  justify-content: space-between;
  height: 10%;
  display: flex;
  padding: 3rem 8rem;
  color: var(--main-font-color);
  .help {
    color: var(--main-color);
    font-weight: 800;
  }
}
.page-footer {
  width: 100%;
  height: 15%;
  padding: 3rem 8rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .actions {
    display: flex;
  }
  .next {
    background-color: var(--main-color);
    color: var(--main-bg-color);
  }
}
a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
  &.skip {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #dce8ff;
    color: var(--main-color);
    cursor: default;
  }
}
button {
  padding: 1rem 2rem;
  margin: 1rem 0 1rem 1rem;
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.title-description {
  margin: 2rem 0;
}

// PAGE 1 /////////////////////////////////
.contact-details {
  width: 90%;
  padding: 3rem 8rem;
  .form {
    display: flex;
    flex-direction: column;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// PAGE 2 /////////////////////////////////
.investment-plans {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem 8rem;
  color: black;
  .row {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    & #from {
      margin-right: 2rem;
    }
  }
  p {
    font-size: 1.2rem;
    color: var(--main-font-color);
  }
  .slider {
    width: 97%;
    height: 3px;
    margin: 2rem 0;
    background-color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
    position: relative;
    // cursor: pointer;
    option:focus {
      background-color: #35a0ee;
      color: #35a0ee;
    }
    &__bar {
      width: 100%;
      height: 3px;
      position: relative;
      background-color: var(--main-font-color);
      display: flex;
      justify-content: space-between;
    }
    & .notch {
      padding: 0;
    }
    & .notch::after {
      content: '';
      margin: 0 10rem 0 0;
      height: 12px;
      width: 3px;
      background-color: var(--main-font-color);
      position: absolute;
      top: -4px;
    }
    & .notch.start::after {
      height: 12px;
      width: 10px;
      position: absolute;
      top: -4px;
      background-color: var(--main-color);
    }
    & .notch.active::after {
      height: 12px;
      width: 3px;
      position: absolute;
      top: -4px;
      background-color: var(--main-color);
    }
    & .notch.end::after {
      height: 12px;
      width: 10px;
      position: absolute;
      top: -4px;
      background-color: var(--main-color);
    }
    &__labels {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-bottom: 4rem;
      color: var(--main-font-color);
      option {
        cursor: pointer;
      }
      & option.active {
        color: var(--main-color);
      }
    }

    &__fill {
      background-color: var(--main-color);
      height: 3px;
      position: absolute;
    }
  }

  .investor {
    margin-top: 2rem;
    position: relative;
    & label {
      display: inline-block;
      border-radius: 4px;
      margin-right: 1rem;
      border: 2px solid var(--main-font-color);
      font-weight: 600;
      font-size: 1.5rem;
      padding: 1rem 5rem 1rem 4rem;
      color: black;
    }
    & #isInvestor {
      position: absolute;
      display: inline-block;
      left: 1.5rem;
      top: 1.5rem;
    }
    & #isNotInvestor {
      position: absolute;
      display: inline-block;
      top: 1.5rem;
      left: 14.5rem;
    }
    & input[type='radio']:checked + label {
      background-color: #dce8ff;
      color: var(--main-color);
      border: 2px solid var(--main-color);
    }
  }
}

// PAGE 3 /////////////////////////////////
.investment-preferences {
  height: 75%;
  max-width: 80%;
  padding: 3rem 15rem 3rem 8rem;
  & h4 {
    margin: 2rem 0;
  }
  .choice__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    .card {
      position: relative;
      & label {
        font-size: 1rem;
        height: 100%;
        border: 1px solid var(--main-font-color);
        border-radius: 4px;
        padding: 1rem;
        position: relative;
        display: block;
        color: black;
        padding-top: 8rem;
        font-size: 1rem;
        z-index: 0;
      }
      & input[type='checkbox'] {
        z-index: 1;
        position: absolute;
        left: 1rem;
        top: 1rem;
        &:checked + label {
          background-color: #dce8ff;
          color: var(--main-color);
          border: 1px solid var(--main-color);
          display: block;
        }
      }
    }
  }
}
